/* Makes the hero image the full size image so I can reuse the rest of the hero container
   on the other pages  */
.heroImage{
    height: auto;
}

.infoContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:40vh;
    width: 100vw;
}

.infoLeft, .infoRight{
    height:100%;
    flex-basis:50%;
    background-color: var(--accentColor);
}

.infoLeft{
    font-weight: bold; 
    font-size:40px;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}

.infoContainerContent{
    padding: 10px;
    height:100%;
    display:flex;
}


@media (max-width: 864px){
    .heroText{
        font-size: 80px;
    }
    .heroSubText{
        font-size: 30px;
    }
}
@media (max-width: 624px){
    .heroText{
        font-size: 50px;
    }
    .heroSubText{
        font-size: 15px;
    }

    .infoContainer{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        height:40vh;
        width: 100vw;
    }
}

@media (max-width: 384px){
    .heroText{
        font-size: 40px;
    }
    .heroSubText{
        font-size: 10px;
    }
}
