*{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
nav, footer{
    height: 10vh;
    display:flex;
    background-color: #252325;
    color:white;
    align-items: center;
    justify-content: space-around;
}
nav{
    position: sticky;
    height: 8vh;
    z-index: 1;
}
footer{
    height: 5vh;
    justify-content: center;
}
hr{
    color: white;
    border-radius:8px;
    margin: 0 20px;
}

.logoImage{
    justify-content: left;
    height: 10vh;
    width: auto;
    filter: invert(1) saturate(0);
}
.companyName{
    font-weight: 600;
}
.main{
    display: flex;
    flex-direction: column;
}
.navLinks{
    display: flex;
    gap: 20px;
}

.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.navItem>a, .navButton>a{
    text-decoration: none;
    color:white;
}
.navButton{
    text-align:center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 20px;
    color: white;
    width: fit-content;
}

.navButton:hover, .navButton:hover>a{
    background-color: white;
    text-decoration: none;
    color:#252325;
}

.navItem:hover{
    text-decoration: underline;
    cursor: pointer;
}

.heroImageContainer{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.heroImage{
    overflow: hidden;
    width: 100vw;
    height: auto;
    object-fit: cover;
    filter: blur(3px);
    transform: scale(1.05);
}
.heroText{
    position: absolute;
    font-weight: 400;
    font-size: 110px;
    color:white;
}

.heroSubText{
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    padding-top:5px;
    color:white;
}

.infoContainer{
    display:flex;
    flex-direction: row;
    height:40vh;
    flex-wrap: wrap;
}

.infoLeft, .infoRight{
    height:100%;
    flex-basis:48%;
    padding: 20px;
}

.infoLeft{
    font-weight: bold; 
    font-size:40px;
    color: white;
    background-color: #252325;
}

@media (max-width: 864px){
    .heroText{
        font-size: 80px;
    }
    .heroSubText{
        font-size: 30px;
    }
}
@media (max-width: 624px){
    .heroText{
        font-size: 50px;
    }
    .heroSubText{
        font-size: 15px;
    }
}

@media (max-width: 384px){
    .heroText{
        font-size: 40px;
    }
    .heroSubText{
        font-size: 10px;
    }
}
